<div class="big-center-text">
    <ul>
        <li class="red red-always">F
        <li class="red red-always">u
        <li class="red red-always">l
        <li class="red red-always">l
        <li class="red">s
        <li class="red">t
        <li class="red">a
        <li class="red">c
        <li class="red">k
        <li class="red">&nbsp; </li>
        <li class="red">D
        <li class="red">e
        <li class="red">v
        <li class="red">e
        <li class="red">l
        <li class="red">o
        <li class="red">p
        <li class="red">e
        <li class="red">r
    </ul>
</div>