.float-right {
    float: right;
}

.float-left {
    float: left;
}
body {
    background: url("/images/ElliottBackground.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /*color:white;*/
}

.big-center-text {
    color: white;
    font-size: 70px;
    font-weight: bold;
    font-family: 'Teko', sans-serif;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
}

.signature-text {
    color: white;
    font-size: 50px;
    font-family: 'Mr Dafoe', cursive;
    letter-spacing: 0px;
    text-align: center;
}

.red {
    display: inline-block;
}

.red-always {
    color: red;
}

.red:hover {
    color: red;
}

.layover-text {
    opacity: 1;
    color: white;
    background-color: rgba(106, 106, 104,0.65);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
}
.transparent{
   opacity: .65;
}

.center-page {
    /*width: 100px;*/
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.menu-position {
    margin-top: 30px;
    margin-right: 30px;
    position: relative;
}

.menu-override, .menu-override .navbar-nav > li > a, .menu-override .navbar-collapse, .menu-override .navbar-default {
    color: white;
    font-size: 35px;
    font-family: 'Teko', sans-serif;
    letter-spacing: 3px;
    background: none;
    border: none;
    border-color: none;
    opacity: 1;
    text-align: right;
}


.menu-button-dashes {
    background-color: red !important;
}

.menu-override .navbar-nav > li > a:hover {
    color: red;
}

.contact-form {
    margin-top: 55px;
    position: relative;
}

.portfolio{
    margin-top: 55px;
    position: relative;
    padding-bottom:15px;
}
.carousel-inner > .item > img{
    height:auto;
    width:100%;
    
}
.btn-override{
    font-weight:bold;
    font-style:italic;
}
@media only screen and (min-width :790px) {
    .menu-override {
        float: right;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 790px) {
    .big-center-text {
        font-size: 40px;
    }

    .signature-text {
        font-size: 50px;
    }

    .contact-form,.portfolio {
        margin-top: 0px;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 440px) {
    .big-center-text {
        font-size: 25px;
    }

    .signature-text {
        font-size: 40px;
    }
}
