<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>

    {{ partial "topmenu.html" . }}


    <div class="page-container">

        <div id="home" class="page-section page-section-signature">

            {{ partial "signature.html"}}
            {{ partial "headline.html"}}

        </div>

        <!--Foreach Page w/ Params.id-->
        {{ range  $page := where .Data.Pages "Section" "page"}}
            {{ .Render "page_single" }}
        {{ end }}

        <!--Portfolio-->
        <div id="portfolio" class="page-section">
            {{ range  $page := where .Data.Pages "Section" "portfolio"}}
            {{ .Render "portfolio_list" }}
            {{ end }}
        </div>

    </div>
    {{ partial "footer.html" . }}
</body>

</html>
